# Godot-specific files
.godot/

# Translation files
*.translation
messages.mo

# MacOS-specific files
.DS_Store

# Windows-specific files
~*
*.TMP

# Testing-related files
settings.cfg
settings.dat

# IDE-related files
.vscode/*
