# Godot-specific files
.godot/

# Translation files
*.translation
messages.mo

# MacOS-specific files
.DS_Store

# Windows-specific files
~*
*.TMP

# Godot source/editor files
godot/
Godot.app
godot.app
Godot.exe
godot.exe

# Testing-related files
settings.cfg
settings.dat

# IDE-related files
.vscode/*
